<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Surf Lifestyle{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/onda-icone.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilos.css') }}">  <!-- ESTILO GERAL DA BASE -->
    {% block styles %}{% endblock %} <!-- ESTILOS ADICIONAIS DE PÁGINAS -->
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="sobre__caixa_pai">
            <div class="sobre__caixa">
                <a href="#" class="caixa__logo">
                    <h1>Surf Lifestyle</h1>
                    <img src="../static/imagens/onda_icone_logo.png" alt="">
                </a>
                <p>
                    © 2025 Alan Clemente, Gabriel Rosas, Jairo Costa, Thalyson Felício — Projeto acadêmico. Todos os direitos reservados.
                </p>
            </div>
            <a id="email" href="#">Contato</a>
        </div>
    </footer>
</body>
</html>