/* ADICIONAR ESTILIZAÇÃO NESSE .css PARA O cadastro.html */
.caixa__form {
    align-self: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    font-family: var(--font-titles);
    color: #03484d;
    position: relative;
    overflow: hidden;
}
form {
    display: flex;
    flex-direction: column;
}

#light-title{
    color: var(--text-light);
}

.caixa__form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--text-light-bg);
    font-family: var(--font-cool);
}

.caixa__form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
}

.caixa__form input[type="text"],
.caixa__form input[type="email"] {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 20px;
    border: 2px solid var(--text-light-bg);
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.caixa__form input:focus {
    border-color: #ff7f50;
}

.caixa__form button {
    width: 60%;
    align-self: center  ;
    background-color: var(--text-light-bg);
    color: var(--bg-body);
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.caixa__form button:hover {
    background-color: var(--bg-body);
    color: var(--text-light-bg);
    transform: scale(1.03);
}

.mensagem-sucesso {
    background-color: #ffffffbb;
    color: #007a00;
    border: 2px dashed #00aa00;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
