
/* Cabeçalho secundário */


.caixa-principal{
    box-shadow: 1px 1px 5px inset var(--default-black);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-main);
    background-image: url("../imagens/foto-medina-fundo.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    & header{
        width: 100%;
        min-height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        & .logo{
            height: 55px;
        }
        & nav{
            width: 400px;
            gap: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin-right: 20px;
            & img#navegacao__menu{
                    height: 40px;
                    cursor: pointer;
                }
            & a{
                color: var(--text-light);
                flex-wrap: nowrap;
                white-space: nowrap;
                font-size: 20px;
                text-decoration: none;
                text-transform: none;
                font-weight: 500;
            }
            & a:hover{
                color: #ffffffb2;
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
    & .frase-efeito{
        background-image: url("../imagens/frase-efeito.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 50dvh;
        width: 100dvw;
    }
}

section{
    min-height: 100dvh;
    background-image: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    & h1{
        align-self: center;
        font-size: 3em;
        font-family: var(--font-cool);
        font-weight: 500;
        margin: 15px 30px 30px 30px;
        color: var(--text-light);   
    }
    & h1::after, h1::before{
        content: "~";
    }
    & .quem-somos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding: 0px 6% 50px 6%;
        background-color: var(--gradient-start);
        
        & .caixa__quem-somos{
            display: flex;
            justify-content: space-around;
            padding: 20px 10px;
            border-radius: 10px;
            & img{
                border-radius: 10px;
            }
        }
        & p{
            align-self: center;
            color: var(--text-light-bg);
            width: 60%;
            text-align: start;
            font-size: 20px;
            line-height: 1.3em;
            & span{
                display: block;
                padding-bottom: 5px;
            }
            & strong{
                color: var(--text-light-bg);
            }
        }
    }
    & .comece-hoje{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 210px;
        color: var(--text-dark-bg);
        & .convite{
            color: var(--text-dark-bg);
        }
        & .secao-iframe{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100dvw;
            gap: 10px;
            & img{
                border-radius: 10px;
            }
            & iframe{
                width: 100%;
            }
            & .caixa__secao-iframe{
                display: flex;
                padding: 0px 6% 50px 6%;
            }
            & article{
                display: flex;
                flex-direction: column;
                padding: 20px;
                & h3{
                    font-size: 2.2em;
                }
                & p{
                    font-size: 26px;
                    min-width: 500px;
                    width: 100%;
                    margin-bottom: 20px;
                    color: var(--text-light-bg);
                }
                & .button{
                    margin-top: 10px;
                    align-self: baseline;
                    text-align: center;
                    border-radius: 10px;
                    background-color: var(--text-light-bg);
                    font-size: 18px;
                    font-weight: 700;
                    padding: 13px;
                    text-decoration: none;
                    text-transform: none;
                    color: var(--text-light);
                }
                & .button:hover{
                    transform: scale(1.04);
                    background-color: #002024;
                    color: var(--bg-yellow);
                }
            }
            .espaco-fotos{
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 15px;
                & img{
                    object-fit: cover;
                    aspect-ratio: 1 / 1;
                    width: 100%;                    
                }
                & img:hover{
                    transform: scale(1.03);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        & strong, h3{
            color: var(--text-light-bg);
        }
        & h2{
            align-self: center;
            font-size: 2.5em;
            margin-bottom: 50px;
        }
    }
}

