@media (max-width: 350px) {
    #header{
        gap: 20px;
        & i#btn-exp, i#btn-close{
            font-size: 20px;
            margin-right: 20px;
        }
        & #logo{
            & img{
                height: 30px!important;
            }
            & p{
                display: none;
            }
        }
    }
    .menu-lateral.expandir{
        width: 200px!important;
        left: calc(100% - 200px)!important;
    }
    .menu-lateral{
        & ul li.item-menu a{
            font-size: 18px;
            padding: 10px 4%;
            align-items: baseline;
        }
        & ul li.item-menu a .icon > i{
            font-size: 24px;
        }
        & ul li.item-menu a .txt-link{
            margin-left: 10px;
        }
    }
}
@media (min-width: 351px) and (max-width: 550px){
    #header{
        gap: 20px;
        & i#btn-exp, i#btn-close{
            font-size: 22px;
            margin-right: 20px;
        }
        & #logo{
            & img{
                height: 35px!important;
            }
            & p{
                display: none;
            }
        }
    }
    .menu-lateral.expandir{
        width: 200px!important;
        left: calc(100% - 200px)!important;
    }
    .menu-lateral{
        & ul li.item-menu a{
            font-size: 18px;
            padding: 10px 4%;
            align-items: baseline;
        }
        & ul li.item-menu a .icon > i{
            font-size: 24px;
        }
        & ul li.item-menu a .txt-link{
            margin-left: 10px;
        }
    }
}
@media (max-width: 550px){
    .bloco_conteudo{
        margin: 70px 0 30px 0;
    }
    .sobre__caixa_pai{
        padding: 10px;
        flex-direction: column;
    }
    .sobre__caixa{
        flex-direction: column-reverse;
        font-size: 14px;
        align-items: center;
        & p{
            text-align: center;

        }
    }
    .links-rodape{
        justify-content: space-around!important;
    }
    .ocean{
        display: none;
    }
}
@media (max-width: 415px){
    #para_devs{
        display: none;
    }
}

@media (min-width:551px) and (max-width: 1200px){
    .sobre__caixa_pai{
        flex-direction: column!important;
        gap: 15px;
        & .links-rodape{
            gap: 15px;
        }
    }
}