@media (max-width: 1100px){
    div.frase-efeito{
        background-size: contain!important;
        width: 80vw!important;
    }
    section h1{
        font-size: 2.5em;
    }
    .quem-somos{
        & .caixa__quem-somos{
            flex-direction: column; 
            & p{
                width: 80%;
                text-align: center;
            }   
        }
        & p{
            min-width: 200px!important;
        }
    }
    
    .caixa__secao-comece{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    & .button{
        align-self: center!important;
    }
    & p{
        min-width: 200px!important;
    }
}

@media (max-width: 550px){
    h1{
        font-size: 2.3em!important;
        margin-bottom: 10px!important;
    }
    h1::after, h1::before{
        content: none!important;
    }
    .comece-hoje{
        padding-bottom: 100px!important;
    }
}