
.container { 
    background: var(--branco-less);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    min-width: 350px;
    width: 35%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
    position: relative;
    color: var(--text-blue);
}
#resultado{
    color: var(--black-default);
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #00796b;
}
label p{
    padding: 10px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
}
select{
    border-radius: 5px;
    transition: 0.05s;
}
select:hover{
    outline: 2px solid black;
}
.highlight {
    color: #00796b;
}

select, button, #voltar {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button, #voltar {
    width: 80%;
    align-self: center;
    margin-top: 20px;
    background: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

button:hover, #voltar:hover {
    transform: scale(1.03);
    background: #004d40;
}

a{
    text-decoration: none;
    color: white
}
