:root {
    /* Fontes: */

    /* Usada para títulos e elementos principais (body, html). */

    --font-titles: 'Bebas Neue', sans-serif;

    /* Usada para textos de parágrafos (p) e links (a). */

    --font-main: 'Open Sans', sans-serif;

    /* === Cores de fundo === */

    --bg-body: #e0f7fa;           /* Fundo geral do body e textos do footer */
    --bg-main: #0092A6;           /* Fundo principal do <main> */
    --bg-footer: #002922;         /* Fundo escuro */
    --bg-footer: #FFECB3;         /* Fundo do <footer> */

    /* === Gradientes === */

    --gradient-start: #67848B;    /* Início do gradiente nas sections */
    --gradient-end: #65ECFD;      /* Fim do gradiente nas sections */

    /* === Cores de destaque === */

    --highlight: #FF6F00;         /* Destaques, títulos e <strong> */

    /* === Cores de texto === */

    --text-light-bg: #012d33;      /* Textos sobre fundos escuros (como caixas e seções) */
    --text-dark-bg: #FFECB3;      /* Textos sobre fundos escuros (como caixas e seções) */
    --text-light: #FFFFFF;        /* Textos em cabeçalhos, links e efeitos de hover */
    --text-footer: #e0f7fa;       /* Textos no footer */
    --default-black: #000000;      /* Texto padrão e sombras */
}