<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Surf Lifestyle{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/onda_icone_logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilo_base.css') }}">
    <!-- ESTILO GERAL DA BASE -->
    {% block styles %}{% endblock %} <!-- ESTILOS ADICIONAIS DE PÁGINAS -->
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer id="sobre">
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        
        <div class="sobre__caixa_pai">
            <div class="sobre__caixa">
                <a href="#" class="caixa__logo">
                    <img src="../static/imagens/logo.png" alt="">
                </a>
                <p>
                    © 2025 Alan Clemente, Gabriel Rosas, Jairo Costa, Thalyson Felício — Projeto acadêmico. Todos os direitos reservados.
                </p>
            </div>
            <div class="links-rodape">
                <a href="#" target="_blank">Política de Privacidade</a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=surf.lifestyle@outlook.com" target="_blank">Fale conosco</a>
                <a href="https://github.com/devgabrielrosas/Surf-Lifestyle" target="_blank" rel="next">Para desenvolvedores</a>
            </div>

        </div>
    </footer>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>